<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button type="button" (click)="back()">
        Back
    </button>
    <h2 class="title">
        Create Quiz
    </h2>
    <div class="quizcreationform">
        <p>Difficulty</p>
        <div class="difficultylabel">
            <label for="easy">easy</label>
            <label for="medium">medium</label>
            <label for="hard">hard</label>
        </div>
        <div class="difficultyinput">
            <input type="radio" value="easy" name="radiobuttons" (change)="onCheckChange($event)">
            <input type="radio" value="medium" name="radiobuttons" (change)="onCheckChange($event)">
            <input type="radio" value="hard" name="radiobuttons" (change)="onCheckChange($event)">
        </div><br>
        <div class="subject">
            <label for="subjectdropdown">
                Subject
            </label><br><br>
            <select name="subjects" name="subjectdropdown" [(ngModel)]="selectedSubject" (change)="onSelectChange($event)">
                <option value=""></option>
                <option value="General Knowledge">General Knowledge</option>
                <option value="Entertainment: Books">Entertainment: Books</option>
                <option value="Entertainment: Film">Entertainment: Film</option>
                <option value="Entertainment: Music">Entertainment: Music</option>
                <option value="Entertainment: Musicals & Theatres">Entertainment: Musicals & Theatres</option>
                <option value="Entertainment: Television">Entertainment: Television</option>
                <option value="Entertainment: Video Games">Entertainment: Video Games</option>
                <option value="Entertainment: Board Games">Entertainment: Board Games</option>
                <option value="Science & Nature">Science & Nature</option>
                <option value="Science: Computers">Science: Computers</option>
                <option value="Science: Mathematics">Science: Mathematics</option>
                <option value="Mythology">Mythology</option>
                <option value="Sports">Sports</option>
                <option value="Geography">Geography</option>
                <option value="History">History</option>
                <option value="Politics">Politics</option>
                <option value="Art">Art</option>
                <option value="Celebrities">Celebrities</option>
                <option value="Animals">Animals</option>
                <option value="Vehicles">Vehicles</option>
                <option value="Entertainment: Comics">Entertainment: Comics</option>
                <option value="Science: Gadgets">Science: Gadgets</option>
                <option value="Entertainment: Japanese Anime & Manga">Entertainment: Japanese Anime & Manga</option>
                <option value="Entertainment: Cartoon & Animations">Entertainment: Cartoon & Animations</option>
            </select>
        </div>
        <div class="startbutton">
            <button (click)="startGame()">
                Start Game!
            </button>
        </div>
    </div>
    
</body>
</html>
