p.question {
    text-align: center;
    font-size: 3rem;
}

.waiting {
    text-align: center;
    font-size: 3rem;
}

.container {
    padding-top: 5rem;
}

.answers {
    text-align: center;
    padding-top: 4rem;
}

.answers button {
    padding: 1rem;
    border: none;
    background-color: #46b2e6;
    margin-bottom: 1rem;
    font-size: 2rem;
    width: 25rem;
    border-radius: 10px;
    color: white;
}