<div class="container">
    <div *ngIf="!startQuiz; else quizDiv" class="lobby-view">
        <div class="invitation-box">
            <p>Copy and share!</p>
            <p>localhost:4200/api/join/{{ roomId }}</p>
        </div>
        <div *ngFor="let player of players">
            <p>Player {{player}} joined the lobby!</p>
        </div>
        <div *ngIf="isInitator">
            <button (click)="startGame()">Start game</button>
        </div>
    </div>
    <ng-template #quizDiv>
        <div *ngIf="!gaveAnswer; else showText">
            <p class="question">{{ quiz.results[currentQuestionIndex].question }}</p>
            <div class="answers">
                <div *ngFor="let answer of quiz.results[currentQuestionIndex].incorrect_answers">
                    <button (click)="giveAnswer(answer)">{{ answer }}</button>
                </div>
                <div>
                    <button (click)="giveAnswer(quiz.results[currentQuestionIndex].correct_answer)">{{quiz.results[currentQuestionIndex].correct_answer}}</button>
                </div>
            </div>
        </div>
        <ng-template #showText>
            <div *ngIf="showSummarize; else waitingForOthers">
                <div *ngFor="let oneSummarize of summarize">
                    <p>{{ oneSummarize.socketId }}: {{ oneSummarize.points }}</p>
                </div>
            </div>
            <ng-template #waitingForOthers>
                <p class="waiting">Waiting for others...</p>
            </ng-template>
        </ng-template>
    </ng-template>
</div>