<div class="container">
    <div *ngIf="!startQuiz; else quizDiv" class="lobby-view">
        <div class="invitation-box">
            <p>Copy and share!</p>
            <p>localhost:4200/api/join/{{ roomId }}</p>
        </div>
        <div *ngFor="let player of players">
            <p>Player {{player}} joined the lobby!</p>
        </div>
        <div *ngIf="isInitator">
            <button (click)="startGame()">Start game</button>
        </div>
    </div>
    <ng-template #quizDiv>
        <div *ngIf="!gaveAnswer; else showText">
            <p>{{ quiz.results[currentQuestionIndex].question }}</p>
            <div *ngFor="let answer of quiz.results[currentQuestionIndex].incorrect_answers">
                <button (click)="giveAnswer(answer)">{{ answer }}</button>
            </div>
            <div>
                <button (click)="giveAnswer(quiz.results[currentQuestionIndex].correct_answer)">{{quiz.results[currentQuestionIndex].correct_answer}}</button>
            </div>
        </div>
        <ng-template #showText>
            <p>Waiting for others...</p>
        </ng-template>
    </ng-template>
</div>