<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Impressum</title>
</head>
<body>
    <button type="button" (click)="back()">
        Back
    </button>
    <div>
        <p>Diese Applikation sowie deren Daten sind durch eine Creative Commons Lizenz geschützt und dürfen nur unter untenstehenden Bedingungen weiterverwendet werden.</p>
        <p>Creative Commons Open Trivia Database</p>
        <img src="../../assets/OpenTDBCC.png">
        <p>Creative Commons Open Trivia Database Data</p>
        <a href="https://creativecommons.org/licenses/by-sa/4.0/">
            <img src="../../assets/OpenTDBDataCC.png">
        </a>
    </div>
</body>
</html>
