<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <button type="button" (click)="back()">
        Back
    </button>
    <p class="title">
        Login
    </p>
    <div class="loginform">
        <div class="logininput">
            <p class="subtitle">
                Username
            </p>
            <input type="text" [(ngModel)]="username">
        </div>
        <div class="logininput">
            <p class="subtitle">
                Password
            </p>
            <input type="password" [(ngModel)]="password"><br><br>
        </div>
        <button (click)="login()">
            Login
        </button>
    </div>
</body>
</html>