.loginform {    
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.loginform button {
    margin: auto;
    display: block;
}

.logininput input {
    margin: auto;
    display: block;
}

.logininput p {
    text-align: center;
}

.title {
    text-align: center;
}