<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
    <button type="button" (click)="back()">
        Back
    </button>
    <h2 class="title">
        Registration
    </h2>
    <div class="registrationform">
        <div class="registerinput">
            <p>
                Username
            </p>
            <input type="text">
        </div>
        <div class="registerinput">
            <p>
                Password
            </p>
            <input type="password">
        </div>
        <br><br>
        <button (click)="register()">
            Register
        </button>
    </div>
</body>
</html>