.registrationform {
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.registrationform button {
    margin: auto;
    display: block;
}

.registerinput input {
    margin: auto;
    display: block;
}

.registerinput p {
    text-align: center;
}

.title {
    text-align: center;
}