<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>PvPTrivia</h1>
        <div class="sidebyside">
            <div class="buttons">
                <a routerLink="/quizcreation">Create Quiz</a>
                <a routerLink="/rooms">Rooms</a>
                <a *ngIf="!isAuthorized" routerLink="/login">Login</a>
                <a *ngIf="!isAuthorized" routerLink="/registration">Registration</a>
                <a (click)="logout()" *ngIf="isAuthorized">Logout</a>
            </div>
            <div class="logo">
                <img id="beanslogo" src="../../assets/Homemade-Heinz-Baked-Beans_0-SQ.jpg">
            </div>
        </div>
    </div>
</body>
</html>
