.sidebyside {
    display: flex;
    width: 100%;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
}

.buttons a {
    text-decoration: none;
    color: black;
    border-radius: 10px;
    padding: 1rem;
    transition: all 0.2s;

    &:hover {
        background-color: #ededed;
    }
}

.button {
    margin: 10px;
    width: 100px;
}

.logo {
    flex: 1;
    margin: 100px;
}

#beanslogo {
    height: 300px;
}